.cart-container {
  padding: 20px 0px;
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;

  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-price {
  font-weight: bold;
  color: green;
}

.remove-btn {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: darkred;
}

.order-btn {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.order-btn:hover {
  background-color: #218838;
}


.payment-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.payment-modal > div {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.payment-modal button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.confirm-payment-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  border: none;
}